SCOREBOARD_DISPLAY_URL=http://127.0.0.1:5050/display
SCOREBOARD_CONTROL_URL=http://127.0.0.1:5050/control
SCOREBOARD_HOST=0.0.0.0
SCOREBOARD_PORT=5050
SCOREBOARD_CONTROL_KEY=
SCHOOL_NAME=Highlands Latin School
